:root{
    --primary-color: #a88fe4;
    --secondary-color: #a46cd4;
    --font-color: #cdbfbf;
    --heading-color: #333;
}
[data-theme='dark']{
    --primary-color: #a88fe4;
    --secondary-color: #511586;
    --font-color: #ebe5e5;
    --bg-color: #333;
    --heading-color: #333;
}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: var(--bg-color);
    color: var(--font-color);
    max-width: 90%;
    margin: 0 auto;
    font-size: calc(1rem + 0.25vh);
}
h1{
    color: var(--heading-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2 rem;
    margin-bottom: 1vh;
}
p {
    font-size: 1.1rem;
    line-height: 1.6rem;
}
nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
}
/* slider switch css */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    
}
.theme-switch-wrapper em {
    margin-left: 10px;
    font-size: 1rem;
}
.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}
.theme-switch input {
    display:none;
}
.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
}
.slider:before {
    background-color: #463388;
    bottom: 4px;
    content: "\F1D1";    
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
}
input:checked + .slider {
    background-color: pink;

}
input:checked + .slider:before {
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
/* end of slider switch css */
/* .bi bi-cloud-fill {
    color:aqua;
} */