div ~ p {
    color: red;
    text-align: center;
    margin: 20px;
}
div{
    background-color: thistle;
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 30px solid palegoldenrod;

}
div, p{
    color: blue;
    text-align: center;
    margin: auto;   
}
div>div{
    background-color: lightblue;
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 30px solid palegoldenrod;
}
div>div>div{
    background-color: lightgreen;
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 30px solid palegoldenrod;
}
body{
    background-color: lightgray;
    text-align: center;
    margin: auto;
    
}